{% extends 'base.html' %} 
{% block content %}
<div class="container-fluid">
    <a href="/user/category/general">
        <button class="btn btn-danger">
            Create a pitch</button>
    </a>
    <br> {%for general in posts%}
    <div class="row">
        <div class="panel panel-default">
            <a style="text-decoration: none;" href="/user/general/{{general.id}}">
                <h4>{{general.post}}</h4>
            </a>
            <h5>by {{general.user.username}}</h5>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}