{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%} 
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Aclonica"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> 
{% endblock %}


{% block content %}

<div class="container" style="font-family: Aclonica">

    {% if current_user.is_authenticated%}
        <h1>Hello {{current_user.username}}</h1>
        <h3>Welcome to One Minute Pitch</h3>
        <a class="btn btn-success" href="{{url_for('main.index')}}">Display pitches</a>
        <div class="something">
            {{macro.displayPitches(pitch)}}
       </div>
       <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"> 
        <a href="{{url_for('main.advertisement')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
            <br>
            Advertisement Pitches
        </a>
        <br>
        <a href="{{url_for('main.project')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
            <br>
            Project pitch
        </a>
        <br>
        <a href="{{url_for('main.sale')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
            <br>
            Sale Pitches
        </a>
        <br>
        <a href="{{url_for('main.general')}}" style="font-family: 'Joti One', cursive; font-size:20px;">
            <br>
            General Pitches
        </a>
        <br>


    {% else %}
        <h1>Hello stranger</h1>
    {%endif%}


</div>

{% endblock%}