{% extends 'base.html' %} 
{% block content %}
<div class="container-fluid">
    <a href="/user/category/project">
        <button class="btn btn-danger">
             Create a pitch</button>
    </a>
    <br> {%for project in posts%}
    <div class="row">
        <div class="panel panel-default">
            <a style="text-decoration: none;" href="/user/project/{{project.id}}">
                <h4>{{project.post}}</h4>
            </a>
            <h5>by {{project.user.username}}</h5>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock %}